PROTOBUF_VERSION=32.1

# 'otlphttp', 'otlpgrpc', 'console', or comma-separated list like 'console,otlphttp', 'console,otlpgrpc'
OTEL_TRACES_EXPORTER=console

# Valid URL (only used when OTLP exporter is enabled)
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4317 

# always_on, always_off, traceidratio, parentbased_always_on, parentbased_always_off, parentbased_traceidratio
OTEL_TRACES_SAMPLER=always_off

# Sampling ratio (0.0-1.0) when using ratio-based samplers like traceidratio or parentbased_traceidratio.
OTEL_TRACES_SAMPLER_ARG=0.1

# Authorization header for OTLP exporter
OTEL_EXPORTER_OTLP_HEADERS_AUTHORIZATION="Api-Token API_TOKEN_HERE"